:root {
    --text: #f2e8cc;
    --red: #ff0000;
    --green:  #11ff00;
    --blue: #1500ff;
    --background: #0d1733;
}
/* Potential Light and Dark Theme */
/* [data-theme="light"],
:root:not([data-theme="dark"]) {
    --text: #0d1733;
    --red: #ff0000;
    --green:  #11ff00;
    --blue: #1500ff;
    --background: #f2e8cc;
}

@media only screen and (prefers-color-scheme: dark){
    :root:not([data-theme]) {
    --text: #f2e8cc;
    --red: #ff0000;
    --green:  #11ff00;
    --blue: #1500ff;
    --background: #0d1733;
    }
} */

body {
    background-color: var(--background)!important;
}

/* Header styling */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: var(--text);
}
  
header h1 {
    margin: 25px;
    cursor: pointer;
}
/* Navigation bar styling */
nav {
    display: flex;
    color:var(--text);
    font-size: 22px;
    margin: 25px;
  } 
  nav ul {
    list-style-type: none;
  }
  nav ul li {
    display: inline-block;
    margin-left: 25px
  }
nav ul li a{
    text-decoration: none;
    color: var(--text);
    cursor: pointer;
  }