<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project United</title>
  </head>
  <body>
    <h1>Project United</h1>
    <form>
      <label>UserName</label>
      <input type="text" />
      <label>Password</label>
      <input type="password" />
      <input type="button" value="Login"/>
      <input type="button" value="Sign Up"></inptu>
    </form>
    <nav>
      <ul>
        <li>
          <a class="nav-element" href="/pages/home">Home</a>
        </li>
        <li>
          <a class="nav-element" href="/pages/activism">Activism</a>
        </li>
        <li>
          <a class="nav-element" href="/pages/friendlyspaces">Friendly Spaces</a>
        </li>
        <li>
          <a class="nav-element">Recent News</a>
        </li>
      </ul>
    </nav>
    {{{body}}}
  </body>
  <footer>
    This project was made by Alexandra Winter, Rayne, Todd, and Faith. This is a project to demonstrate web skills and is not affiliated with any sites listed or any political project. Made with handlebars, node.js, express, scraping bee, mysql
  </footer>
</html>