{{#each activismMap as |activism|}}
  <section>
    <h2>Activism</h2>
    <p>This is the activism page where you can get more information on local
      organizations in Utah and how you can get involved in them. This isn't a
      comprehensive list but some notable activism spaces for a variety of ways
      to get involved in your community</p>

    <h3>This is an activism {{activism.name}}</h3>

  </section>
{{/each}}