<section>
  <h2>The Friendly Spaces</h2>
  <p>This is the Friendly Spaces Page, here are a list of buisiness that are
    either owned by LGBTQ+ people or are friendly and safe to go to for LGBTQ+
    people</p>
</section>