<h2>About Project United</h2>
<section>
  <p>Project United is a student project to explore new technologies and provide
    a proof of concept for a potential design for an MVC type website.</p>
  <p>Project United itself is not a political organization or any existing
    entitiy but rather a fun project between friends to promote a better future
    for Utah.
  </p>
</section>